<!--NAVIGATION-->


[[step06. 변수 학습 page로 이동](step06VariableOperators.ipynb) ] | [[step08.comprehension 학습 page로 이동](step08Comprehension.ipynb) ]

### 함수 구현의 다양한 문법 

- 인수(argument) - 호출 프로그램에 의하여 함수에 전달되는 값
- 매개변수(parameter) - 인수값을 전달받는 변수

--------------------------------------------------------

- 디폴트 인수 : 함수의 매개 변수가 기본값 보유
- 키워드 인수 : 인수들 앞에 키워드를 두어 인수 구분
- 임의의 인수 목록 : 인자의 개수가 정해지지 않은 가변 인수를 전달
- 람다 함수 : 이름이 없는 한줄짜리 함수

In [1]:
# 반환값이 여러개도 가능

def f1():
    return 1, 2

print(f1())


def f2():
    return 'a', 2

# 언패킹
v1, v2 = f2()
print(v1, v2)

(1, 2)
a 2

### 1. 디폴트(default) 인수

In [2]:
# 매개변수 기본 초기화값 활용하는 함수
# 호출 : 함수명(값1), 함수명(값1, 값2)

def fun1(name, age=10):
    print(name, age)
    
fun1('백종원')

백종원 10

In [3]:
fun1(10, 100)

10 100

In [4]:
fun1()

TypeError: fun1() missing 1 required positional argument: 'name'

### 2. 키워드 인수

- **kwargs : keyword argument 줄임말
- **kwargs : 키워드=특정값 형태로호출

In [9]:
def fun2(x, y, z):
    print(x, y, z)
    return x + y + z

In [10]:
fun2(10, 20, 30)

10 20 30

60

In [11]:
fun2(x=10, y=20, z=30)

10 20 30

60

In [12]:
# parameter 변수명에 값 직접 대입해서 함수 호출 하는 기술 

fun2(z=10, y=20, x=30)

30 20 10

60

In [13]:
# **kwargs 사용
# dict 형식으로 인수값 변환

def fun3(**kwargs):
    #....
    print(kwargs)

In [15]:
fun3(x=10, y=20, z=30, yy='yy')

{'x': 10, 'y': 20, 'z': 30, 'yy': 'yy'}

In [18]:
# **kwargs 사용 + 반복문과 items()
def fun4(**kwargs):
    for k, v in kwargs.items():
        print(k, v)

In [19]:
fun4(x=10, y=20, z=30)

x 10
y 20
z 30

### 3. 임의의 인수

- *를 사용할 경우 인수는 튜퓰 형식
- 가변인자 활용

In [20]:
def fun3(*args, sep='-'):
    print(sep.join(args))

In [21]:
fun3('a', 'b')

a-b

In [22]:
fun3('a', 'b', 'c')

a-b-c

**미션-
일회용 패스워드 생성기를 이용하여서 3개의 패스워드를 생성하여 출력하는 프로그램을 작성해 보기**

출력 예시 : 
    
ouuc4c <br>
uuahtp <br>
79s6oz <br>

In [52]:
import random

print(random.randrange(36)) #0~35

20

In [53]:
alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
#print(len(alphabet))
alphabet[35]

'9'

random() :0 이상 1 미만

randrange() : 1에서 6까지의 정수 중 하나를 무작위로 반환

In [57]:
import random

def gen_pass():
    alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
    password = ""
    
    for i in range(6):
        index = random.randrange(36)
        password = password+alphabet[index]
    return password
    
print(gen_pass())
print(gen_pass())
print(gen_pass())

qyxxmv
qi3nmj
al1zqv

### 4. 람다 함수

- 이름없이 정의된 익명함수 
- 매개변수 제한이 없음, 단 하나의 값만 반환
- 함수의 반환, 변수의 데이터값으로 사용 가능
- list의 sort의 key속성의 값으로도 사용 가능(실전 응용)
- 문법 :<br>
lambda 인자[,..] : 표현식(수식)

In [58]:
f1 = lambda x : x + 10

In [59]:
print(f1(100))

110

In [60]:
def sum(x):
    return lambda x : x + 10

print(sum(10))

<function sum.<locals>.<lambda> at 0x0000027246CCA550>

In [61]:
# ? 값이 출력되게 하기 위한 문법 
v = sum(10)  # 10+10의 반환값을 보유한 로직의 식 반환

# v = lambda x : x + 10    2라인과 동일한 문법 

print(v(100)) # 식에 값을 적용해서 호출하는 문법

110

In [62]:
# ? 결과값 보고 람다식 도출
# 람다식의 반환값은 하나여야만 함 

f2 = lambda x, y, z : x**2 + y**2 + z **2
f2(1, 2, 3)   # 14

14

In [63]:
mylist=[1, 5, 3, 9, 8, 4, 2]
mylist.sort()

In [64]:
mylist

[1, 2, 3, 4, 5, 8, 9]

In [75]:
# 튜플로 구성된 list

mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [76]:
mylist2.sort(key=lambda a : a[1])
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [77]:
mylist2 = [('kim', 123, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort(key=lambda a : a[1])
mylist2

[('lee', 27, 99), ('park', 43, 102), ('kim', 123, 100)]

In [78]:
# 오류 왜? index인 1 즉 두번째 데이터값들 간에 정렬 불가한 포멧 포함되어 있기 때문
# mylist2 = [('kim', 123, 100), (27, 'lee',  99), ('park', 43, 102)]
# mylist2.sort(key=lambda a : a[1])
# mylist2

TypeError: '<' not supported between instances of 'str' and 'int'

In [79]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [80]:
mylist2.sort(key=lambda a : a[2])
mylist2

[('lee', 27, 99), ('kim', 23, 100), ('park', 43, 102)]

In [74]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort()
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [72]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort(key=lambda a : a[0])
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [73]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort(key=lambda a : a[1])
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [85]:
# 대소문자 구분없이 sort 함수로 정렬 
# 람다 사용해서 소문자로 변경해서 정렬 
# lower()
mylist3 = ['Spam', 'egg', 'Ham']

# mylist3.sort()  #['Ham', 'Spam', 'egg'] 
mylist3.sort(key=lambda x: x.lower())
mylist3

['egg', 'Ham', 'Spam']

In [88]:
mydict1 = {'one':1, 'two':2, 'three':3}
sorted(mydict1)  # key 정렬

['one', 'three', 'two']

In [89]:
mydict1

{'one': 1, 'two': 2, 'three': 3}

### 5. map() 함수

- 문법 : map(함수, 리스트)
- 시퀀스의 모든 항목에 함수를 적용한 결과 리스트 반환

In [92]:
def cube(x):
#     print(x)
    return x**2

# lambda x : x**2

list(map(cube, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [93]:
# ? lambda식으로 구현

list(map(lambda x : x**2, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
for i in range(5):
    print(i**2)

0
1
4
9
16

### 6. reduce() 함수
- 주로 집계용으로 사용
- 사용을 위해서는 functools 모듈 선언

In [94]:
from functools import reduce

'''
x, y = 1, 2 -> 3
     = 3, 3 -> 6
     = 6, 4 -> 10
     = 10, 5 -> 15
'''
data = reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
print(data)

15

In [95]:
#상단 reduce에 사용된 lambda의 로직을 단순 python 문법으로 개발한 코드

def userReduce():
    datas = [1, 2, 3, 4, 5]
    v = 0
    for x in datas:
        v = v+x
    print(v)
    
userReduce()

15

### 7. filter()

- 데이터의 일부만 착출 가능한 기능의 즉 필터링 기능의 함수
- 시퀀스의 항목들 중 함수 조건이 True인 항목만 추출
- 문법 : filter(함수, 리스트)

In [96]:
filter(lambda x : x < 5 , range(10))

In [97]:
list(filter(lambda x : x < 5 , range(10)))

[0, 1, 2, 3, 4]

In [98]:
tuple(filter(lambda x : x < 5 , range(10)))

(0, 1, 2, 3, 4)

**미션** : (123,) 값이 출력될 수 있도록 로직 완성하세요

In [99]:
list2 = (10,22,37,41,100,123,29)  
list2

(10, 22, 37, 41, 100, 123, 29)

In [100]:
tuple( filter( lambda x : x % 3 == 0, list2 ) )

(123,)

### 8. Collection 함수

- 순서값과 요소값을 한번에 구하는 내장 함수
- 기본 for문을 활용해서 학생 순번에 맞게 list 점수 출력
- enumerate() 활용해서 순서와 요소값을 한번에 튜플로 반환

In [101]:
score = [80, 30, 70, 85, 90]

for no in range(len(score)):
    print(str(no+1) + '번 학생의 성적 : ', score[no])

1번 학생의 성적 :  80
2번 학생의 성적 :  30
3번 학생의 성적 :  70
4번 학생의 성적 :  85
5번 학생의 성적 :  90

In [102]:
score = [80, 30, 70, 85, 90]

for i, v in enumerate(score):
    print(i+1, '번 학생의 성적 : ', score[i])

1 번 학생의 성적 :  80
2 번 학생의 성적 :  30
3 번 학생의 성적 :  70
4 번 학생의 성적 :  85
5 번 학생의 성적 :  90